
div.search-results {
    max-width: 400px;
    max-height: 80vh;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
}

div.search-results p {
    user-select: none;
}

div.search-results p.result-item {
    cursor: pointer;
}


div.captions-search-container input {
    width: 98%;
}
